<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Azi.Cloud.DokanNet.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="amazon_clouddrive_dokanTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Azi.Cloud.DokanNet.Tests.Properties.Settings>
      <setting name="AuthToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthRenewToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthTokenExpiration" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastDriveLetter" serializeAs="String">
        <value/>
      </setting>
      <setting name="CacheFolder" serializeAs="String">
        <value>ACDDokanNetTest\ACDDokanNetCache</value>
      </setting>
      <setting name="SmallFileSizeLimit" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SmallFilesCacheLimit" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ReadOnly" serializeAs="String">
        <value>False</value>
      </setting>
    </Azi.Cloud.DokanNet.Tests.Properties.Settings>
    <amazon_clouddrive_dokanTests.Properties.Settings>
      <setting name="AuthToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthRenewToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="AuthTokenExpiration" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastDriveLetter" serializeAs="String">
        <value/>
      </setting>
      <setting name="CacheFolder" serializeAs="String">
        <value>%TEMP%\ACDDokanNetCache</value>
      </setting>
      <setting name="SmallFileSizeLimit" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SmallFilesCacheLimit" serializeAs="String">
        <value>1000</value>
      </setting>
    </amazon_clouddrive_dokanTests.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
